```css
/* ---------------------------------
   Basic setup
   --------------------------------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* ---------------------------------
   Navigation
   --------------------------------- */

.navigation {
    background: white;
}

.logo {
    background: grey;
}

.nav-links a {
    color: black;
}


/* ---------------------------------
   Banner
   --------------------------------- */

.banner {
    background: blue;
    color: white;
}


/* ---------------------------------
   Main content
   --------------------------------- */

.content {
    background: green;
    color: white;
}


/* ---------------------------------
   Footer
   --------------------------------- */

.footer {
    background: black;
    color: white;
}
```
